.video-box {
    margin: 0px auto;
}

.video-box > div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
}

.video-box iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}